/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-bottom: 1px solid rgb(228, 228, 228);
  height: 64px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.control-image {
  width: 98px;
  height: 48px;
}
