.course-card {
  width: 337px;
  height: 382px;
  border: 1px solid var(--light-gray);
  background: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 40px; 
  height: 40px;
  margin-right: 10px;
}
