.search-input {
  color: rgb(32, 33, 36);
  margin: 0px;
  font-size: 0.875rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0px;
  background-color: rgb(248, 247, 245);
}

.search-input-bar {
  width: 100%;
  border: none; 
  outline: none; 
  font-size: var(--font-size-medium); 
  font-family: var(--font-family);
  background-color: transparent; 
  padding: var(--spacing-small) 0; 
}